*,
*::before,
*::after{
    box-sizing: inherit;
}

:root{
    --clr-text:#5a5a5a
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-text);
    font-size:  1.125rem;
}

body{
    margin: 0;
    text-align: center;
}

.header_title{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    display: block;
    justify-content: center;
}

img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4{
    margin: 0;
}

h2, 
h3{
    line-height: 0.8;
    letter-spacing: 1px;
}

h2{
    font-size: 4rem;
}

p{
    margin-bottom: .85em;
}

.section_title_small{
    font-size: 3rem;
}

.section_title_small small{
    font-size: 0.8em;
    display: block;
}
.text_primary{
    color:lightcoral
}

section{
    padding: 3em 1em;
}

.logo{
    text-align: center;
}

.logo a{
    text-decoration: none;
    color:red;
    font-size: 4rem;

}
/* HOME PAGE STYLING*/

/* NAV STYLE */

header{
    padding: 1em 0 2em ;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color:steelblue;
    text-decoration: none;
}

nav a:hover,
nav a:focus{
    color:lightcoral;
    text-decoration: underline;
}

.hero{
    background-color: #333;
    background-image: url(https://pbs.twimg.com/media/D7lX5IIXkAEIf-M.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 15vh 2em;   
}

.intro{
    text-align: center;
}

.about_us{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.about_us_intro{
    background-image:url(https://media.istockphoto.com/photos/picknick-outside-in-autumn-nature-picture-id496494870);
    background-color: #555;
    background-blend-mode: multiply;
    padding: 3em 1em 1em
}

.about_us_body{
    padding: 0.7em 1em 0.7em;
}

.btn_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    margin: 2em 0.4em ;
}
.btn{
    padding: 1em;
    text-decoration: none;
    background-color: lightcoral;
    color:white;  
    margin: 1em; 
    border-radius: 0.5em;
    flex: 1 1 0;
}

.order_online{
    background-color: lightgray;
    padding:2em 1em 1.5em;
}

.products{
    display: flex;
    flex-direction: column;
}

.product{
    /*background: lightgoldenrodyellow;*/
    background-color: white;
    border-radius: 0.50em;
    margin-bottom: 2em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    /*border: 1px solid red;*/
}

.product h3{
    padding: 0.5em;
    color: rgb(200, 167, 123);
    font-size: 2rem;
}

.product p{
    padding: 1em;
}

.product_showcase{
    padding-bottom: 0;
    background-color: bisque;
}

.btn_footer{
    background-color: goldenrod;
}

.btn_hero{
    background-color: purple;
    margin-top: 0em;
}

.footer_nav{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}
.footer_nav li a{
    text-decoration: none;
    color: steelblue;
    font-size: 1.3rem;
}

.footer_nav li a:hover{
    color: purple;
}

.btn_group_last{
    margin-top:1em
}